.home-page {
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .page {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
  }

  .text-zone {
    position: absolute;
    left: 60%;
    top: 40vh;
    transform: translateY(-100%);
    width: 40%;
    max-height: 90%;
  }

  .topLine {
    color: #fff;
    width: 440px;
    position: absolute;
    animation-name: topLineAnimation;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: scaleX(0%);
  }

  .bottomLine {
    color: #fff;
    width: 440px;
    position: absolute;
    animation-name: bottomLineAnimation;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: scaleX(0%);
  }

  h1 {
    color: #ff2164;
    margin: 0;
    font-family: 'Coolvetica';

    .topHalf {
      font-weight: 400;
      font-size: 64px;
      line-height: 72px;
      position: absolute;
      animation-name: topHalfAnimation;
      animation-delay: 3s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      transform: translateY(-75%);
    }

    .bottomHalf {
      font-size: 42px;
      line-height: 64px;
      font-weight: 800;
      position: absolute;
      animation-name: bottomHalfAnimation;
      animation-delay: 3s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      transform: translateY(25%);
    }

    .middleTop {
      color: #f1ced9;
      font-size: 24px;
      line-height: 24px;
      font-weight: 50;
      position: absolute;
      font-family: sans-serif;
      transform: translateY(40px);
      opacity: 0;
      animation: fadeIn;
      animation-delay: 3.2s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .middleBottom {
      color: #f1ced9;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      position: absolute;
      font-family: sans-serif;
      transform: translateY(100px);
      opacity: 0;
      animation: fadeIn;
      animation-delay: 3.2s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    img {
      margin-left: 20px;
      margin-bottom: -2px;
      width: 48px;
      opacity: 0;
      height: auto;
      animation: smallIconAnimation;
      animation-timing-function: ease-in;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .smallIcon {
      display: inline-block;
      z-index: 500;

      & {
        scale: 100%;
        rotate: 0deg;
        transition: scale 0.3s ease-in-out, rotate 0.3s ease-in-out;
      }

      &:hover {
        scale: 150%;
        rotate: 10deg;
      }
    }
  }
}

@keyframes smallIconAnimation {
  from {
      opacity: 0;
      transform: scale(300%);
      filter: blur(30px);
  }
  to {
      opacity: 1;
      transform: scale(100%);
      filter: blur(0px);
  }
}

@keyframes topHalfAnimation {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(-125%);
  }
}

@keyframes bottomHalfAnimation {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(75%);
  }
}

@keyframes topLineAnimation {
  from {
    transform: scaleX(0%)
  }
  to {
    transform: scaleX(100%);
  }
}

@keyframes bottomLineAnimation {
  from {
    transform: scaleX(0%)
  }
  to {
    transform: scaleX(100%);
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}